
<%- include("header.ejs") %>      

<body>
  <div class="container mt-5 text-center card bg-transparent" style="justify-content: space-around;" >
    <h1 class="text-dark"> Click below to continue</h1>
    <div><a style="width: 100%;" href="/auth/google" class="btn btn-outline-primary btn-lg ">sign-in with Google</a></div>
    <a style="margin-top: 10px; margin-bottom: 30px;" href="/auth/google" class="btn btn-outline-success btn-lg">Sign-up with Google</a>
  </div>

  

  <%- include("footer.ejs") %>      

